@page "/"
@inject ICategoryService CategoryService
@inject ITourService TourService
@inject IUserService UserService

<div>
    <FeaturedTourHero />
    <SearchToursExperiences WithFilter="false"/>
</div>


@code {
    private User User;

    protected override void OnInitialized()
    {
        User = new User();
        User = UserService.GetUserDetails();
    }
}