@page "/"
@inject ICategoryService CategoryService
@inject ITourService TourService
@inject IUserService UserService

<div>
    <FeaturedTourHero />
    <LastMinuteDeals />
    <CategoryDividerFullWidth />
    <FeaturedListingsNearUser />
    <Testimonials />
</div>


@code {
    [Parameter] public string CategoryUrl { get; set; }

    private Category Category = null;
    private User User;

    protected override void OnInitialized()
    {
        User = new User();
        User = UserService.GetUserDetails();
    }

    protected override async Task OnParametersSetAsync()
    {
        await TourService.LoadTours(CategoryUrl);

        if (CategoryUrl != null)
        {
            Category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            Category = null;
        }  
    }
}