@page "/"
@inject ITourService TourService
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

<div>
    <FeaturedTourHero />
    <SearchToursExperiences WithFilter="false"/>
</div>

@code {

}