@page "/"
@inject ITourService TourService
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

<div>
    <FeaturedTourHero />
    <SearchToursExperiences WithFilter="false"
                            UserAuthenticated="isAuth"/>
</div>

@code {
    bool isAuth = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAuth = user.Identity.IsAuthenticated;
    }
}