@page "/"
@page "/{categoryurl}"
@inject ICategoryService CategoryService
@inject ITourService TourService
@inject IUserService UserService

@inject IStatsService StatsService

@if (Category != null)
{
    <h1>Welcome to the @Category.Name section.</h1>
    <TourList />
}
else
{
    <AuthorizeView>
        <NotAuthorized>
            <h1>Welcome to Castle Tours</h1>
        </NotAuthorized>
        <Authorized>
            <h1>Welcome back, @User.FirstName</h1>
        </Authorized>
    </AuthorizeView>

    <TourList />
}



@code {
    [Parameter] public string CategoryUrl { get; set; }

    private Category Category = null;
    private User User;

    protected override void OnInitialized()
    {
        User = new User();
        User = UserService.GetUserDetails();
        
    }

    protected override async Task OnInitializedAsync()
    {
        await StatsService.IncrementVisits();
        await StatsService.GetVisits();
    }


    protected override async Task OnParametersSetAsync()
    {
        await TourService.LoadTours(CategoryUrl);

        if (CategoryUrl != null)
        {
            Category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            Category = null;
        }

        
    }
}