@page "/"
@inject ITourService TourService
@inject IUserService UserService

<div>
    <FeaturedTourHero />
    <SearchToursExperiences WithFilter="false"
                            Tours="TourService.SearchResults"
                            UserFavorites="UserService.User.Favorites"/>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await TourService.SearchTours();
    }
}