@page "/login"
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<h3>Login</h3>

<EditForm Model="user" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-group">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="user.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" class="form-control" />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Login</button>
    <div class="mt-2">
        <ValidationSummary />
    </div>
</EditForm>

@code {
    private UserLogin user = new UserLogin();

    private async Task HandleLogin()
    {
        await LocalStorage.SetItemAsStringAsync("username", user.Username);
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}
