.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 0 1rem;
}

.mud-item-card {
    border-radius: 10px !important;
    margin: 1rem 0 !important;
}
