<section class="pt-6">
      <div class="container">
        <div class="row mb-6">
          <div class="col-lg-8">
            <h2>Popular destinations in August</h2>
            <p class="text-muted mb-0">Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 col-lg-4 col-xl-3 px-0">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/kathmandu.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">Kathmandu</h4>
                <p class="mb-4">Spirituality &amp; mountains</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-xl-3 px-0">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/medellin.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">Medellín</h4>
                <p class="mb-4">Tropical paradise</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-xl-3 px-0">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/bangkok.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">Bangkok</h4>
                <p class="mb-4">Temples and street food</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-xl-3 px-0">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/kyoto.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">Kyoto</h4>
                <p class="mb-4">Imperial capital</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-xl-3 px-0">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/los-angeles.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">Los Angeles</h4>
                <p class="mb-4">City of angeles</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-xl-3 px-0">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/london.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">London</h4>
                <p class="mb-4">Galleries and shopping</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-xl-3 px-0">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/madrid.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">Madrid</h4>
                <p class="mb-4">Aquí no hay playa</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-xl-3 px-0">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/havana.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">Havana</h4>
                <p class="mb-4">La Havana</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4 col-xl-3 px-0 d-none d-lg-block d-xl-none">
            <div class="d-flex align-items-center dark-overlay hover-scale-bg-image" style="min-height: 400px;"><img class="bg-image" src="img/photo/barcelona.jpg" alt="">
              <div class="p-3 p-sm-5 text-white z-index-20">
                <h4 class="h2">Barcelona</h4>
                <p class="mb-4">Dalí, Gaudí, Barrio Gotico</p><a class="btn btn-link text-reset ps-0 stretched-link text-decoration-none" href="#">Take me there<i class="fa fa-chevron-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

@code {

}
