<!-- Slider main container-->
    <div class="swiper-container home-slider multi-slider">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper">
        <!-- Slides-->
        <div class="swiper-slide bg-cover dark-overlay" style="background-image: url('img/photo/photo-1493976040374-85c8e12f0c0e.jpg');">
          <div class="container h-100">
            <div class="d-flex h-100 text-white overlay-content align-items-center" data-swiper-parallax="-500">
              <div class="w-100">
                <div class="row">
                  <div class="col-lg-6">
                    <p class="subtitle text-white letter-spacing-3 mb-3 font-weight-light">Blue &amp; White</p>
                    <h2 class="display-3 fw-bold mb-3" style="line-height: 1">Japan</h2>
                    <p class="mb-5">His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p><a class="btn btn-outline-light d-none d-sm-inline-block" href="#">Start exploring Japan <i class="fa fa-angle-right ms-2"></i></a>
                  </div>
                  <div class="col-lg-6 ps-lg-5 my-3 my-md-5 my-lg-0"><a class="d-flex text-reset text-decoration-none hover-animate mb-2 mb-md-5" href="#">
                      <div class="icon-rounded bg-white opacity-7 flex-shrink-0 me-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#airplane-mode-1"> </use>
                        </svg>
                      </div>
                      <div>
                        <h5>Flights</h5>
                        <div class="badge badge-light">from $345</div>
                      </div></a><a class="d-flex text-reset text-decoration-none hover-animate mb-2 mb-md-5" href="#">
                      <div class="icon-rounded bg-white opacity-7 flex-shrink-0 me-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#suitcase-1"> </use>
                        </svg>
                      </div>
                      <div>
                        <h5>Holidays</h5>
                        <div class="badge badge-light">from $1,245</div>
                      </div></a><a class="d-flex text-reset text-decoration-none hover-animate" href="#">
                      <div class="icon-rounded bg-white opacity-7 flex-shrink-0 me-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#image-gallery-1"> </use>
                        </svg>
                      </div>
                      <div>
                        <h5>Guide &amp; gallery</h5>
                        <p>See more  </p>
                      </div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
@code {

}
