<!-- Slider main container-->
    <div class="swiper-container home-slider img-container">
      <!-- Additional required wrapper-->
      <div class="swiper-wrapper">
        <!-- Slides-->
        <div class="swiper-slide bg-cover dark-overlay h-100" style="background-image: url('./img/castleHeaderImg.jpg');">
        </div>
    </div>
</div>

@code {

}
