@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject IAuthService AuthService
@inject IToastService ToastService
@inject IDialogServiceCustom DialogServiceCustom

<div class="container-fluid px-3">
    <div class="row min-vh-50">
        <div class="col-12 d-flex align-items-center">
            <div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">
                <div class="mb-5">
                    <h1>
                        <i class="fa-brands fa-fort-awesome"></i> &nbsp; Castle Tours 
                    </h1>
                    <h6>Welcome back</h6>
                </div>
                <EditForm Model="user" OnValidSubmit="HandleLogin">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <div class="form-group mb-4">
                        <label for="username">Username</label>
                        <InputText id="username" @bind-Value="user.Email" class="form-control"/>
                    </div>
                    <div class="form-group mb-4">
                        <div class="row">
                            <div class="col">
                                <label class="form-label" for="password">Password</label>
                            </div>
                            <div class="col-auto"><a class="form-text small text-primary" href="#">Forgot password?</a></div>
                        </div>
                        <InputText id="password" @bind-Value="user.Password" class="form-control " type="password"/>
                    </div>
                    <div class="mb-4">
                        <span class="link-primary" @onclick="OnReg">Not registered?</span>
                        <!--
                            <div class="form-check">
                                <input class="form-check-input" id="loginRemember" type="checkbox">
                                <label class="form-check-label text-muted" for="loginRemember"> <span class="text-sm">Remember me for 30 days</span></label>
                            </div>
                        -->
                    </div>
                    <br/>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="mt-2">
                        <ValidationSummary />
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private UserLogin user = new UserLogin();

    [Parameter] public EventCallback OnReg { get; set; }

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(user);
        if (result.Success)
        {
            await LocalStorage.SetItemAsync<string>("authToken", result.Data);
            await AuthStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad:true);
            DialogServiceCustom.CloseDialog();
        }
        else
        {
            ToastService.ShowError(result.Message);
        }
    }
}

