@inject ILocalStorageService LocalStroageAsync
@inject ISyncLocalStorageService LocalStorageSync
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject ICartService CartService
@inject ITourService TourService
@inject IDialogServiceCustom DialogServiceCustom
@implements IDisposable

<header class="header custom-header-fixed">
      <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <a class="navbar-brand py-3" href="/" style="line-height: 0;">
                <i class="fa-brands fa-fort-awesome"></i> &nbsp; Castle Tours
            </a>
            <Searchbar PlaceholderText="Search..."/>
          </div>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
          <!-- Navbar Collapse -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item position-static">
                  <a class="nav-link" href="./favorites">
                      <i class="fa-solid fa-heart"></i> &nbsp;Favorites
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="./help">
                      <i class="fa-solid fa-circle-info"></i> &nbsp;Help
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="/cart">
                      <i class="fa-solid fa-cart-shopping"></i> &nbsp;Cart (@GetTicketCount())
                  </a>
              </li>
              <AuthorizeView>
                  <Authorized>
                      <li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-lg-none d-xl-inline-block">
                          <button class="btn btn-primary" @onclick="Logout">
                              <i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp;Sign Out
                          </button>
                      </li>
                  </Authorized>
                  <NotAuthorized>
                      <li class="nav-item nav-link-item">
                          <span typeof="button" class="nav-link" @onclick="(() => DialogServiceCustom.SignInDialog())">
                              <i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp;Sign in
                          </span>
                      </li>
                      <li class="nav-item mt-3 mt-lg-0 ms-lg-3 d-lg-none d-xl-inline-block">
                          <span class="btn btn-primary" @onclick="(() => DialogServiceCustom.RegistrationDialog())">Sign up</span>
                      </li>
                  </NotAuthorized>
              </AuthorizeView>
              
            </ul>
          </div>
        </div>
    </nav>
</header>

@if (DialogServiceCustom.IsDialogShowing)
{
    <LoginDialog />
}

@code {

    protected string GetTicketCount()
    {
        var cart = LocalStorageSync.GetItem<List<Ticket>>("cart");
        return cart != null ? cart.Count.ToString() : "0";
    }

    protected async void Logout()
    {
        await LocalStroageAsync.RemoveItemAsync("authToken");
        await AuthStateProvider.GetAuthenticationStateAsync();

        NavigationManager.NavigateTo("/", forceLoad: true); 
    }

    protected override void OnInitialized()
    {
        DialogServiceCustom.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        DialogServiceCustom.OnChange -= StateHasChanged;
    }

}
