@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content" style="padding:0rem !important;">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts />
