@inject NavigationManager NavigationManager
@inject ISyncLocalStorageService LocalStorage
@inject ICartService CartService
@implements IDisposable
@inherits LayoutComponentBase

<BlazoredToasts />
<MainHeaderLayout />
<div>
    @Body
</div>
<ImageBannerFullWidth />
<MainFooterLayout />

@code {

}
