@inject NavigationManager NavigationManager
@inject ISyncLocalStorageService LocalStorage
@inject ICartService CartService
@implements IDisposable
@inherits LayoutComponentBase

<BlazoredToasts />
<div>
    @Body
</div>

@code {

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }

    protected string GetTicketCount()
    {
        var cart = LocalStorage.GetItem<List<Ticket>>("cart");
        return cart != null ? cart.Count.ToString() : "0";
    }

    private void HandleShoppingCart()
    {
        NavigationManager.NavigateTo("/cart");
    }
}
