@inject ITourService TourService
@inject NavigationManager NavigationManager

<div class="input-group">
    <input  @bind-value="searchText"
            @bind-value:event="oninput" 
            type="search"
            list="tours"
            @onkeyup="HandleSearch"
            class="form-control"
            placeholder="@PlaceholderText"
            @ref="searchInput" />
    <datalist id="tours">
       @foreach (var suggestion in suggestions)
       {
           <option>@suggestion</option>
       }
    </datalist>
</div>


@code {
    [Parameter] public string? PlaceholderText { get; set; }
    private string searchText = string.Empty;
    private List<string> suggestions = new List<string>();
    protected ElementReference searchInput;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await searchInput.FocusAsync();
        }
    }

    public void SearchTours()
    {
        NavigationManager.NavigateTo($"/search/{searchText}");
    }

    public async Task HandleSearch(KeyboardEventArgs args)
    {
        if (args.Key == null || args.Key.Equals("Enter"))
        {
            SearchTours();
        }
        else if (searchText.Length > 2)
        {
            suggestions = await TourService.GetTourSearchSuggestions(searchText);
        }
    }
}
