@inject ITourService TourService
@inject NavigationManager NavigationManager

<div class="searchbar-container">
    <BlazoredTypeahead  SearchMethod="@SearchTours"
                        TValue="Tour"
                        TItem="Tour"
                        Value="SelectedTour"
                        ValueChanged="HandleSearch"
                        ValueExpression="@(()=> SelectedTour)"
                        placeholder="Search...">

        <SelectedTemplate>
            @context.Name
        </SelectedTemplate>
        <ResultTemplate>
            @context.Name
        </ResultTemplate>
        <NotFoundTemplate>
            Sorry, no tours found...
        </NotFoundTemplate>
    </BlazoredTypeahead>
</div>


@code {
    private Tour SelectedTour;

    private void HandleSearch(Tour tour)
    {
        if (tour == null) return;
        SelectedTour = tour;
        NavigationManager.NavigateTo($"tour/{SelectedTour.Id}");
    }

    private async Task<IEnumerable<Tour>> SearchTours(string searchText)
    {
        var response = await TourService.SearchTours(searchText);
        return response;
    }

}
