.flex-container {
    display: flex;
    overflow: scroll;
    padding: 10rem 1rem;
}

.flex-items {
    margin: 1.2rem 0;
}

    .flex-items:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.50s;
    }

.category-card {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category-card-items {
    color: white;
    padding: 0 0 0.5rem 0.5rem;
}

.category-card-footer {
    padding: 1rem;
}
